.app-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-title-text {
  flex-grow: 1;
}

.app-header {
  background-color: #222;
  height: 55px;
  padding: 20px;
  color: #9e9ff5;
  padding-left: 60px;
}

.app-left-nav {
  display: flex;
}

.app-title {
  font-size: 32px;
  margin: 0px;
  margin-top: 10px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #fff;
}

/* Mobile view */

@media (max-width: 768px) {
  .app-title-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .app-title {
    font-size: 23px;
    margin-top: 0px;
  }
  .app-header {
    padding-left: 20px;
    height: auto;
  }
}