.main-gif-container {
  width: 400px;
  margin: auto;
  position: relative;
}

.main-gif-wrapper {
  margin-top: 30px;
}

.form {
  margin-top: 20px;
}

.gif-container {
  display: flex;
  justify-content: center;
}

.gif-container img {
  border: solid 1px #3d0707;
  border-radius: 4px;
  margin: auto;
}

.btn {
  position: absolute;
  margin-top: 6px;
  right: 0;
}

.btn:hover {
  background-color: #18055a !important;
}

/*sidebar*/

.sidebar {
  list-style: none;
  max-width: 400px;
  border-left: #3d0707 solid 1px;
  padding: 10px;
}

.sidebar li img {
  width: 100px;
}

/*main-page div*/

.main-page {
  display: flex;
  justify-content: space-between;
}

/*forms*/

textarea {
  padding: 7px 15px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #e9ebeb;
  border-bottom: 1px solid #e1e3e3;
  border-radius: 4px;
  background-color: rgb(248, 244, 244);
  color: rgba(14, 30, 37, 0.87);
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  transition: all 0.2s ease;
  transition-property: background-color, color, border, box-shadow;
  outline: 0;
  margin-bottom: 3px;
  width: 100%;
  box-sizing: border-box;
}

.btn-submit {
  width: 100%;
}

.btn-div {
  width: 100%;
}

.vote-counter {
  margin-left: 30px;
  font-style: italic;
  color: #18055a;
}
